.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff8f0;
    padding: 12px 24px;
    border-bottom: 2px solid #e0c097;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  
  .logo {
    height: 70px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .title {
    font-size: 1.8rem;
    color: #8b0000;
    font-weight: bold;
    text-align: center;
    flex-grow: 1;
  }
  
  .cart-icon img {
    height: 70px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .cart-icon {
  position: relative;
}

.badge {
  position: absolute;
  top: -6px;
  right: -6px;
  background-color: #e74c3c;
  color: white;
  border-radius: 50%;
  padding: 4px 8px;
  font-size: 0.8rem;
  font-weight: bold;
}
